<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'my_app/css/myapp.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'my_app/js/myappjs.js' %}"></script>
    <title>Hello Django</title>
</head>
<body>
    <h1>Welcome to Django!</h1>
    <div id="inputform">
        <form method="POST">
        {% csrf_token %}
            <textarea id="numer" class="textareas"></textarea>
            <input type="submit" id="go" hidden>
        </form>
    </div>

    <form id="ajaxform" method="POST">
    {% csrf_token %}
        <input type="submit" id="aj" value="Result">
    </form>

    <div id="responce">
        <textarea id="ajx" class="textareas resp" readonly></textarea>
    <div>
    
</body>
</html>